{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/changepass" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="oldpassword" placeholder="Old Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="newpassword" placeholder="New Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="passwordrepeat" placeholder="Repeat New Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Confirm</button>
    </form>
    <br>
    {% if alert == true %}
    <div class="alert alert-primary" role="alert">
       Password Changed!
      </div>
    {% endif %}
{% endblock %}